.relations__title {
  font-size: 2rem;
  color: #0f1f27;
  font-weight: 600;
}
.relations__details {
  font-family: "Arapey", serif;
  color: #265469;
  font-size: 1.25rem;
  text-align: justify;
}

.relations__div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  background-image: url("../../images/GOTwallpaperWall.png");
}

.relations__chart {
  padding: 3rem;
  width: 60rem;
  height: 41.5rem;
}

.relations__chart__source {
  color: white;
}

.relations__emphasis__leader {
  font-size: 3.2rem;
  color: #8c0d0d;
}

.relations__mobile__content {
  color: black;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.relations__visible__mobile {
  height: 100vh;
  display: none;
}

@media only screen and (max-width: 900px) {
  .relations__visible__desktop {
    display: none;
  }

  .relations__visible__mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
