.persona__title {
  font-size: 2rem;
  color: white;
  margin-bottom: 2rem;
  font-weight: 600;
}

.persona__div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  background-image: url("../../images/GoTwallpaperWinter.png");
}

.persona__chart {
  padding: 1rem;
  border-radius: 1rem;
  width: 45rem;
  height: 45rem;
}

.persona__chart__source {
  color: white;
}

.personal__emphasis__leader {
  font-size: 3.2rem;
  color: #8c0d0d;
}

@media only screen and (max-width: 900px) {
  .persona__visible__desktop {
    display: none;
  }

  .persona__visible__mobile {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}

.persona__mobile__content {
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.persona__visible__mobile {
  height: 100vh;
  display: none;
}
