.intro__div {
  background-image: url("../images/GOTwallpaper.jpg");
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 70.5vh;
  display: flex;
  padding: 9rem;
  flex-direction: column;
}

.intro__div__quote {
  width: 100%;
}

.quote {
  padding: 1.25rem;
  font-size: 1.25rem;
  color: white;
  font-family: "Arapey", serif;
  background: #ffffff1a;
  border-radius: 0.5rem;
}

.intro__div__logo {
  width: 100%;
  display: flex;
}

.logo__image {
  width: 35rem;
  margin-left: 4rem;
}

.intro__background__filter {
  opacity: 0.2;
  width: 100%;
  height: 100vh;
  margin: -9rem;
  background-color: #00e8ff;
  position: absolute;
  animation-name: color;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  50% {
    background-color: #4285f4;
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

@media only screen and (max-width: 1000px) {
  .intro__div {
    padding: 0.5rem;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .logo__image {
    width: 16rem;
    margin: 0;
  }

  .intro__div__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .intro__background__filter {
    height: 103vh;
  }
}
