.relationship__div {
  display: flex;
  height: 70.5vh;
  padding: 9rem;
  background-image: url("../images/GOTwallpaperEnd.jpg");
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.relationship__chart {
  width: 100%;
  height: 40rem;
  background-color: #ffffff63;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.relationship__jon {
  position: absolute;
  top: 131.5rem;
}
