.navbar {
  --navbarNavFontSize: calc((16 / 16) * 1rem);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  width: var(--space2XL);
  position: fixed;
  top: var(--spaceOuter);
  left: var(--spaceOuter);
  bottom: var(--spaceOuter);
  z-index: 1024;
}

.navbar__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  max-width: var(--space2XL);
  position: relative;
  top: calc(var(--spaceM) * -1);
}

.navbar__nav-list {
  transform: rotate(-90deg) translate3d(-50%, 0, 0);
  display: flex;
  flex-direction: row-reverse;
}

.navbar__inner {
  text-decoration: none;
  color: white;
}

.navbar__nav-link {
  padding: var(--spaceM);
  color: rgb(var(--rgbText) / 0.8);
  font-size: var(--navbarNavFontSize);
  text-decoration: none;
  position: relative;
  transition: color var(--durationS) ease 0.1s;
  line-height: 1;
  color: white;
  font-weight: 500;
}

.navbar__nav-link:focus {
  outline: none;
}

.navbar__nav-link:before {
  position: absolute;
  width: 2px;
  height: 100%;
  left: 0px;
  top: 0px;
  content: "";
  background: rgb(86, 72, 72);
  opacity: 0.3;
  transition: all 0.3s;
}

/*animation*/
.navbar__nav-link:hover:before {
  width: 100%;
}

.navbar__nav-link--active {
  color: #9c0e0e;
}

.email__link {
  width: 14rem;
  transform: rotate(-90deg) translate3d(48%, 0, 0);
}

.email__link__a {
  text-decoration: none;
  color: white;
}

/**/

@media only screen and (max-width: 696px) {
  .navbar__nav-link {
    font-size: 0.75rem;
  }

  .navbar__nav-link::after {
    transition: transform var(--durationM) var(--bezierFastoutSlowin);
  }

  .navbar__nav-link:focus {
    box-shadow: none;
  }
  .navbar__nav-list,
  .email__link {
    display: none;
  }

  .dropdown {
    display: flex !important;
  }
}

/**/
.dropdown {
  width: 100%;
  position: fixed;
  display: flex;
  z-index: 99;
  /* color: red; */
  justify-content: flex-end;
  display: none;
}

.products,
.projects {
  position: relative;
}

.menu__dropdown__lists {
  /* border: 100px solid blue; */
}

.menu__dropdown__lists,
.projects ul {
  position: absolute;
  padding: 0;
  background: rgb(255 255 255 / 100%);
  margin-top: 10px;
  width: 22rem;
  height: 7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  list-style: none;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
  transform: translateY(-10px);
}

.projects a {
  text-decoration: none;
  color: #ffffff;
}

.dropdown button,
.home {
  margin: 1rem;
  border: none;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  background: none;
}

.dropdown button img {
  width: 3rem;
  transition: 0.2s ease-in-out;
}

.dropdown button:hover {
  animation-name: spinner;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu__dropdown__item,
.projects li {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #101213;
}

.menu__dropdown__item:hover,
.projects li:hover {
  background: #607d8b;
  color: white;
  cursor: pointer;
}

.projects button:focus + .menu__dropdown__lists,
.projects button:focus + ul {
  opacity: 1;
  pointer-events: all;
  transform: translate(-15.35rem, 0.5rem);
}

.menuIcon {
}

@media only screen and (max-width: 900px) {
  .navbar {
    display: none;
  }
}
