@import url("https://fonts.googleapis.com/css2?family=Arapey&family=Cinzel:wght@400;500;600&display=swap");

body {
  background-color: #263238;
  margin: 0;
  font-family: "Cinzel", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Cinzel", serif;
}

.video {
  width: 70%;
  z-index: 1;
  border-radius: 0.5rem;
}
